.product_card_btn_add {
    background-color: var(--yellow100);
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: var(--default-border-radius);
    color: var(--white);
    box-shadow: 0 1px 4px var(--gray600);
}

.disabled_btn {
    background-color: var(--gray500)
}