.product_card__logo__show {
    width: 100%;
}

.product_card__logo__show img {
    height: 50px;
}

.product_card__image {
    width: 100%;
}

.product_card__image > img {
    border-radius: 50%;
    border: 10px solid var(--yellow100);
    background-color: var(--white);
    width: 200px;
    height: 200px;
    box-shadow: 0 0 7px var(--gray600);
}

/* .product_card__description {
  border-top: 2px solid var(--gray600);
  border-bottom: 2px solid var(--gray600);
  min-height: 50px;
  color: var(--blue100);
  font-size: 14px;
  text-decoration: underline;
  margin: 10px;
  padding: 3px;
  cursor: pointer;
} */

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


.product_card__name {
    margin-top: 10px;
    min-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card__board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    margin-top: 10px;
}

.product_card__price {
    color: var(--orange200);
}


.product_card__logo__hide {
    display: none;
}

.product_card__description__show {
    border-top: 2px solid var(--gray600);
    border-bottom: 2px solid var(--gray600);
    min-height: 50px;
    color: var(--blue100);
    font-size: 14px;
    text-decoration: underline;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
}

.product_card__description__hide {
    min-height: 80px;
}


/*modal*/

.modal_window__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: var(--default-border-radius);
    padding: 10px;
    cursor: pointer;
    height: fit-content;
}

.modal_window__card:hover {
    background-color: var(--yellow100);
}

.modal_image {
    width: 150px;
    height: 150px;
}

.modal_image img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.modal_window__text {
    margin: 10px 0;
    min-height: 54px;
}

.modal_window__price {
    border-top: 2px solid var(--gray600);
    color: var(--orange200);
    padding-top: 10px;
}

.modal_window__description {
    width: 100%;
}

.modal_window__description p {
    display: flex;
    justify-content: center;
    align-items: center;
}