.product_card__logo__show {
    width: 100%;
}

.product_card__logo__show img {
    height: 50px;
}

.product_card__image {
    width: 100%;
}

.product_card__image > img {
    border-radius: 50%;
    border: 10px solid var(--yellow100);
    background-color: var(--white);
    width: 200px;
    height: 200px;
    box-shadow: 0 0 7px var(--gray600);
}

/* .product_card__description {
  border-top: 2px solid var(--gray600);
  border-bottom: 2px solid var(--gray600);
  min-height: 50px;
  color: var(--blue100);
  font-size: 14px;
  text-decoration: underline;
  margin: 10px;
  padding: 3px;
  cursor: pointer;
} */

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.product_card_btn_add {
    background-color: var(--yellow100);
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: var(--default-border-radius);
    color: var(--white);
    box-shadow: 0 1px 4px var(--gray600);
    margin-top: 10px;
}

.product_card__name {
    margin-top: 10px;
    min-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card__board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    margin-top: 10px;
}

.product_card__price {
    color: var(--orange200);
}

.product_card__count {
    margin-top: 10px;
    font-size: 12px;
}

.product_card__inc-dec {
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border-radius: 50%;
    font-size: 20px;
    color: var(--gray300);
    box-shadow: 0 1px 4px var(--gray600);

    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card__value {
    width: 60px;
    height: 100%;
    border-radius: var(--default-border-radius);
    background-color: var(--white);
    box-shadow: 0 1px 4px var(--gray600);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.product_card__logo__hide {
    display: none;
}

.product_card__description__show {
    border-top: 2px solid var(--gray600);
    border-bottom: 2px solid var(--gray600);
    min-height: 50px;
    color: var(--blue100);
    font-size: 14px;
    text-decoration: underline;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
}

.product_card__description__hide {
    min-height: 80px;
}